<%- include('./partials/header.ejs') %> 
<div class="card mb-4">
    <div class="card-body" id="card-body-top">
        <h2 class="text"><%- cohort.name %> </h2>
        <h4 class="text"><%- cohort.member %> </h4>
    </div>
    <hr />
    <div class="card-body">
        <form action="method" method="POST">
            <h4 class="method" >Method</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="teamCount" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Team Count
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="perTeam" id="flexRadioDefault2" >
                <label class="form-check-label" for="flexRadioDefault2">
                  Number Per Team
                </label>
              </div>
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input  type="number" name="quantity" class="form-control">
              </div>
              <input class="assign btn btn-outline-primary" type="Submit" value="Assign Teams">
              <input class="hidden" name="member" type="text" value="<%- cohort.member %>">
              <input class="hidden" name="id" type="text" value="<%- cohort.id %>">
              <input class="hidden" name="img_url" type="text" value="<%- cohort.img_url %>">
              <input class="hidden" name="name" type="text" value="<%- cohort.name %>">
        </form>
        <div id="padded">
          <form action="/cohorts/<%- cohort.id %>/edit"> 
            <input type="hidden" name="edit" value="<%- cohort.id %>">
            <input type="submit" class="btn btn-outline-primary" value="Edit">
          </form>
          <form action="delete" method="POST">
            <input type="hidden" name="delete" value="<%- cohort.id %>">
            <input type="submit" class="btn btn-outline-danger" value="Delete">
          </form>
          
          <% if (cohort.flexRadioDefault && cohort.quantity) { %>
          <h2><span class="member-index">#</span> <span class="member-info">Members</span></h2><hr />
          <% for (let i = 0; i < displayFormat.length ; i++) { %> 
            <div>
              <h4><span class="member-index"><%- i + 1  %></span>
                <span class="member-info"><%- displayFormat[i] %></span> </h4>
              <% if(i < displayFormat.length - 1) { %>
                <hr />
              <% } %> 
            </div>
          <% } %> 
          <% } %> 
        </div>
    </div>
</div>
</body>
</html>